In [1]:
import pandas as pd

In [2]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"

#Ler o CSV

In [36]:
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

#Renomear colunas

In [37]:
mapa = {
    'home' : 'principal',
    'how_it_works' : 'como_funciona',
    'contact' : 'contato',
    'bought' : 'comprou'

}

dados = dados.rename(columns=mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

# Pegar o x (features) dos nossos dados

In [38]:
x = dados[['principal','como_funciona', 'contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

#Pegar o nosso y (resultado)

In [39]:
y = dados[['comprou']]
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [42]:
dados.shape

(99, 4)

# Sabendo que temos 99 linhas e 4 colunas, iremos pegar para trenar até 75 do x usar os dados restantes para x

In [44]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [54]:
print("Usaremos %d de dados para treino e %d de dados para teste" % (len(treino_x), len(treino_y)))

Usaremos 75 de dados para treino e 75 de dados para teste

In [57]:
print(f"Usaremos {len(treino_x)} de dados para treino e {len(teste_x)} de dados para teste")

Usaremos 75 de dados para treino e 24 de dados para teste

In [65]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [73]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100 # taxa de acerto

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [76]:
print("A minha acurácia foi de  %.2f%%" % (acuracia))

A minha acurácia foi de  95.83%

#Usando a biblioteca que separa treino e teste

In [93]:
from sklearn.model_selection import train_test_split
SEED = 20

treino_x , teste_x, treino_y, teste_y = train_test_split(x,y, random_state=SEED,test_size=0.25)
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)

In [94]:
print("Usaremos %d de dados para treino e %d de dados para teste" % (len(treino_x), len(treino_y)))

Usaremos 74 de dados para treino e 74 de dados para teste

In [95]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100 # taxa de acerto

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [97]:
print("A minha acurácia foi de  %.2f%%" % (acuracia))

A minha acurácia foi de  96.00%

In [99]:
treino_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [101]:
teste_y.value_counts()

comprou
0          19
1           6
dtype: int64

#Como vimos os nossos dados existem mais pessoas que não compraram no teste e e pouquissimas compraram no teste. Precisamos treinar os dados e garantir uma igual proporção, colocando o parametro stratify no nosso train_test_split

In [104]:
treino_x , teste_x, treino_y, teste_y = train_test_split(x,y, 
                                                         random_state=SEED,
                                                         test_size=0.25,
                                                         stratify= y)
print(treino_x.shape)
print(teste_x.shape)

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100 # taxa de acerto

(74, 3)
(25, 3)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [105]:
print("A minha acurácia foi de  %.2f%%" % (acuracia))

A minha acurácia foi de  96.00%

In [106]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [107]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64